<ion-view view-title="Eligibility">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="list animate-fade-slide-in-right dark-grey-bg list-house">
        <div class="center spacing-top"><h4>Eligibility</h4></div>     
            <div class="list">
            <div class="center spacing-top"><h3>Applying for</h3></div>
               
              <div class="item">
                <button class="button button-full  button-energized " ui-sref="app.question">Subsidized housing</button>
                
                  <br>
                <button class="button button-full  button-energized">Special priority housing </button>
              </diiv>
              <div class="item">
                <div class="center spacing-top"><p>If you are eligibile:</p></div>
                <button class="button button-positive button-full" ui-sref="app.register">Create a new user</button>


              </div>
              
            </div>
         

            
            
        </div>
        <div class="button-bar social-login">
            <div class="bar bar-footer bar bar-dark"> 
       <!-- <div class="title footer-logo"><img src="img/footer-img.jpg" class="img-f"></div> -->
        <div class="row footer-ico">
              <div class="col center">
                  <a class="white" ui-sref="app.login"><i class="ion-ios-home"></i></a>
              </div>
              <div class="col center">
                 <a class="white" ><i class="ion-android-search"></i></a>
              </div>
              <div class="col center">
                 <a class="white" ><i class="ion-person"></i></a>
              </div>
              
        </div>
    </div>
        </div>
    </ion-content>
    

    
</ion-view>



