<ion-view view-title="WESTACRES">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('http://www.alexandrebelloni.com/poh/images/5_6.jpg');">
            <div class="content">
                <div class="avatar hide" style="background-image: url('http://www.alexandrebelloni.com/poh/images/5_6.jpg');"></div>
                <h3><a class="light">WESTACRES</a></h3>
                <!-- <h4>75 TANDRIDGE CRESCENT</h4> -->
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a class="tab-item" ng-click="ok('6','http://www.alexandrebelloni.com/poh/images/5_6.jpg','WESTACRES')">
                <i class="icon ion-heart"></i> Add to Wishlist
            </a>
            <a ui-sref="" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
        </div>
        <h4 class="content padding double-padding-x">WESTACRES</h4>
        <div class="list animate-fade-slide-in-right">
            <!-- <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/jon-snow.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/sansa.jpg">
                <h2>Sansa Stark</h2>
                <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/tyrion.jpg">
                <h2>Tyrion Lannister</h2>
                <p>B.A.M.F. imp</p>
                <i class="icon ion-chatbubble muted"></i>
            </a> -->
            <div class="item item-icon-right line">
                <p class='address'><i class="ion-location"></i>&nbsp;&nbsp;1 ARBORDELL ROAD</p>

            </div>
            <div class="item item-icon-right line">
            
                    <p class='overall'><i class=""></i><span class="rating-t">Rating:</span>&nbsp;5 | <i class="ion-cube"></i>&nbsp;<span class="rating-t"></span>&nbsp;TCHC | <i class="ion-filing"></i>&nbsp;<span class="rating-t">Badrooms</span>&nbsp;2</p>
            </div>        
            <div class="map-in">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2883.2352854982073!2d-79.57215668422747!3d43.72643885570922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3a7b19d05441%3A0xe0dbc05d53f0b907!2s1+Arbordell+Rd%2C+Etobicoke%2C+ON+M9W+4C6!5e0!3m2!1sen!2sca!4v1473863931528" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </ion-content>
</ion-view>
