<ion-view view-title="RAKOCZI VILLA I">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('http://www.alexandrebelloni.com/poh/images/5_6.jpg');">
            <div class="content">
                <div class="avatar hide" style="background-image: url('http://www.alexandrebelloni.com/poh/images/5_6.jpg');"></div>
                <h3><a class="light">RAKOCZI VILLA I</a></h3>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a class="tab-item" ng-click="ok('7','http://www.alexandrebelloni.com/poh/images/7_8.jpg','RAKOCZI VILLA I')">
                <i class="icon ion-heart"></i> Add to Wishlist
            </a>
            <a ui-sref="" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
        </div>
        <h4 class="content padding double-padding-x">RAKOCZI VILLA I</h4>
        <div class="list animate-fade-slide-in-right">
            <div class="item item-icon-right line">
                <p class='address'><i class="ion-location"></i>&nbsp;&nbsp;747 ST. CLAIR AVENUE WEST</p>

            </div>
            <div class="item item-icon-right line">
            
                    <p class='overall'><i class=""></i><span class="rating-t">Rating:</span>&nbsp;5 | <i class="ion-cube"></i>&nbsp;<span class="rating-t"></span>&nbsp;PNP | <i class="ion-filing"></i>&nbsp;<span class="rating-t">Badrooms</span>&nbsp;1</p>
            </div>        
            <div class="map-in">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2885.4187686985574!2d-79.43033838422858!3d43.6810566586465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b347f9dfb5047%3A0x32e52345b4c66dc6!2s747+St+Clair+Ave+W%2C+Toronto%2C+ON+M6C+4A4!5e0!3m2!1sen!2sca!4v1473864012622" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </ion-content>
</ion-view>
