<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(http://domestic-impressions.com/background.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1 class="h1-login">EZHouz</h1>
            </div>
        </div>
        <div class="conteiner-login">
            <div class="list">
            <ion-md-input placeholder="Application ID" highlight-color="balanced" type="text" id="user"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password" ></ion-md-input>
            </div>
        </div>
        <div class="padding btn-log-padding">
            <!-- <button  ui-sref="app.houselist" class="button button-full button-assertive ink">Login</button> -->
            <button  ng-click="login()" class="button button-full button-assertive ink">Login</button>
        </div>
        <div class="center register"><a ui-sref="app.register">Register</a></div>
        <div class="padding center">
            <button class="button button-small button-positive" ui-sref="app.eligibility">Am I eligible for a program?</button>
            <button class="button button-small button-stable">Language</button>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>
        
    </ion-content>
</ion-view>
