<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(http://domestic-impressions.com/background.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Pride of Home</h1>
            </div>
        </div>
        <div class="main-list">

          <div class="elem-list">
            <select class="browser-default button button-full  btn-select">
              <option value="" disabled selected>BEDROOMS</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>

          <div class="elem-list">
            <select class="browser-default button button-full  btn-select">
              <option value="" disabled selected>NEIGHBOURHOOD</option>
              <option value="1">West Humber Clairville</option>
              <option value="2">Mount Olive Silverstone Jamestown</option>
              <option value="3">Thistletown Beaumond Heights</option>
              <option value="3">Rexdale Kipling</option>
              <option value="3">Elms Old Rexdale</option>
              <option value="3">Kingsview Village The Westway</option>
              <option value="3">Willowridge Martingrove Richview</option>
              <option value="3">Humber Heights Westmount</option>
              

            </select>
          </div>
          <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-assertive ink">Search</button>
          </div>
        </div>


      
        
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>
    </ion-content>
</ion-view>
